.register-card {
    margin: 50px auto;
    padding: 20px;
    border-radius: 12px;
    text-align: center;
    width: 90%;
  
    label {
      font-size: 24px;
      font-weight: bold;
      display: block;
      margin-bottom: 20px;
      color: #333;
    }
  
    form {
      display: flex;
      flex-direction: column;
      gap: 30px;
    }
  
    mat-form-field {
      width: 100%;
    }
  
    button {
      margin-top: 10px;
      padding: 12px;
      font-size: 16px;
      border-radius: 8px;
    }
  }
  
  /* Responsive */
  @media (max-width: 600px) {
    .register-card {
      max-width: 90%;
      padding: 15px;
    }
  }
  .button-group {
    display: flex;
    justify-content: flex-end;
    gap: 10px; 
    margin-top: 10px; 
    width: 90%;
  }
  