<mat-dialog-content>
<h2>Đổi mật khẩu</h2>
<form [formGroup]="passwordForm" (ngSubmit)="updatePassword()">
    <mat-form-field>
  <mat-label>Mật khẩu cũ</mat-label>
  <input matInput type="password" formControlName="oldPassword">
</mat-form-field>

<mat-form-field>
  <mat-label>Mật khẩu mới</mat-label>
  <input matInput type="password" formControlName="newPassword">
</mat-form-field>

<mat-form-field>
  <mat-label>Xác nhận mật khẩu mới</mat-label>
  <input matInput type="password" formControlName="confirmPassword">
</mat-form-field>

  <!-- TODO: HoanNTh: 2 button trên cùng 1 hàng -->
  <div class="mat-button-wrapper">
    <button mat-raised-button type="submit">Update</button>
    <button mat-raised-button type="button" (click)="dialogRefClose()">Cancel</button>
  </div>
  
  

</form>
</mat-dialog-content>
