<mat-dialog-content>
  <h2>Change Password</h2>
  <form [formGroup]="passwordForm" (ngSubmit)="updatePassword()">
    
    <mat-form-field>
      <mat-label>Current Password</mat-label>
      <input matInput type="password" formControlName="oldPassword">
      <mat-error *ngIf="passwordForm.controls['oldPassword'].hasError('required')">Please enter a Current Password</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>New Password</mat-label>
      <input matInput type="password" formControlName="newPassword">
      <mat-error *ngIf="passwordForm.controls['newPassword'].hasError('required')">Please enter a New Password</mat-error>
      <mat-error *ngIf="passwordForm.controls['newPassword'].hasError('minlength')">
        Password must be at least 6 characters
      </mat-error>
    </mat-form-field>
    <div *ngIf="passwordForm.errors && (passwordForm.touched || passwordForm.dirty)">
      <mat-error *ngIf="passwordForm.hasError('newPasswordSameAsOld')" style="font-size: 15px; margin-top: -50px;">
        New password cannot be the same as the current password.
      </mat-error>
    </div>

    <mat-form-field>
      <mat-label>Confirm New Password</mat-label>
      <input matInput type="password" formControlName="confirmPassword">
      <mat-error *ngIf="passwordForm.controls['confirmPassword'].hasError('required')">Please enter a Confirm Password</mat-error>
    </mat-form-field>
    <div *ngIf="passwordForm.errors && (passwordForm.touched || passwordForm.dirty)">
      <mat-error *ngIf="passwordForm.hasError('confirmPasswordMismatch')" style="font-size: 15px; margin-top: -50px;">
        New password and confirm password do not match.
      </mat-error>
    </div>

    <div class="mat-button-wrapper">
      <button mat-raised-button type="submit" [disabled]="passwordForm.invalid">Update</button>
      <button mat-raised-button type="button" (click)="dialogRefClose()">Cancel</button>
    </div>

  </form>
</mat-dialog-content>
