<mat-dialog-content>
<h2>Đổi mật khẩu</h2>
<form [formGroup]="passwordForm" (ngSubmit)="updatePassword()">
    <mat-form-field>
  <mat-label>Mật khẩu cũ</mat-label>
  <input matInput type="password" formControlName="oldPassword">
</mat-form-field>

<mat-form-field>
  <mat-label>Mật khẩu mới</mat-label>
  <input matInput type="password" formControlName="newPassword">
</mat-form-field>

<mat-form-field>
  <mat-label>Xác nhận mật khẩu mới</mat-label>
  <input matInput type="password" formControlName="confirmPassword">
</mat-form-field>

  <button mat-raised-button type="submit">Cập nhật</button>
  <button mat-raised-button type="button" (click)="dialogRefClose()">Hủy</button>

</form>
</mat-dialog-content>
