<div class="login-container">
  <mat-card-title>Đăng nhập</mat-card-title>
    <h2>Đăng nhập</h2>
    <form (ngSubmit)="onLogin()">

      <mat-form-field>
      <mat-label for="username">Tên đăng nhập:</mat-label>
      <input matInput type="text" id="username" [(ngModel)]="username" name="username" required>
      <mat-error *ngIf="loginForm.controls['username'].hasError('required')">Vui lòng nhập username</mat-error>
    </mat-form-field>
        
    <mat-form-field>
      <mat-label for="password">Mật khẩu:</mat-label>
      <input matInput type="password" id="password" [(ngModel)]="password" name="password" required>
      <mat-error *ngIf="loginForm.controls['password'].hasError('required')">Vui lòng nhập username</mat-error>
    </mat-form-field>

      <button mat-raised-button type="submit">Đăng nhập</button>
      <span>Chưa có tài khoản?</span>
      <button mat-button color="accent" (click)="navigateToRegister()">Đăng ký</button>
    </form>
  </div>
