<div class="login-container">
    <h2>Login</h2>
    <form (ngSubmit)="onLogin()">

      <mat-form-field>
      <mat-label for="username">Username:</mat-label>
      <input matInput type="text" id="username" [(ngModel)]="username" name="username" required>
      <mat-error *ngIf="loginForm.controls['username'].hasError('required')">Please input username</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label for="password">Password:</mat-label>
      <input matInput type="password" id="password" [(ngModel)]="password" name="password" required>
      <mat-error *ngIf="loginForm.controls['password'].hasError('required')">Please input username</mat-error>
    </mat-form-field>

      <button mat-raised-button type="submit">Login</button>
      <!--TODO: HoanNTh: cho text bé lại -->
      <p style="font-size: 10px; color: red;">Don't have an account yet?</p>
      <button mat-button color="accent" (click)="navigateToRegister()">Register</button>
    </form>
  </div>
