.device-form-card {
  max-width: 500px;
  margin: auto;
  padding: 24px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}
form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

mat-form-field {
  width: 100%;
  margin-bottom: 16px;
}

button {
  width: 50%;
  padding: 10px;
  font-size: 16px;
}
