
table {
  width: 100%;
  border-collapse: collapse;
  background: white;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
}


thead {
  background: #c6c7c9; 
  color: white;
  text-transform: uppercase;
}

th {
  padding: 12px;
  text-align: left;
}

.search-container {
  display: flex;
  justify-content: space-between; /* Đẩy "Add Device" về cuối dòng */
  align-items: center; /* Căn giữa theo chiều dọc */
  width: 100%;
  gap: 10px;
}

.search-group {
  display: flex;
  align-items: center;
  gap: 10px; /* Khoảng cách giữa các input */
}



td {
  padding: 12px;
  border-bottom: 1px solid #ddd;
}


tr:hover {
  background: #f5f5f5;
  transition: 0.3s;
}


input[type="text"] {
  width: 250px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
}

input[type="text"]:focus {
  border-color: #1976d2;
}


button {
  padding: 8px 12px;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100px;
  
}

button:hover {
  background: #7e7b7b;
}



.ng-template {
  text-align: center;
  font-size: 16px;
  color: #888;
  padding: 20px;
}
.error-message {
  color: red;
  font-weight: bold;
  margin: 10px;
}

select {
  width: 150px; 
  padding: 8px 12px;
  font-size: 14px;
  border: 1px solid #cccaca;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
}

label {
  margin-right: 5px;
}
