
    <mat-label style="margin-right: 10px;">Tìm kiếm thiết bị:</mat-label>
    <input matInput [(ngModel)]="searchText" placeholder="Nhập tên thiết bị...">
  <button mat-raised-button color="primary" (click)="searchName()">Tìm kiếm</button>
  <button mat-raised-button color="primary" (click)="goToAddDevice()" style="margin: 20px;">Thêm Thiết Bị</button>
  <mat-form-field appearance="outline">
    <mat-label>Chọn trạng thái</mat-label>
    <mat-select [(value)]="selectedStatus" (selectionChange)="filterDevicesByStatus()">
      <mat-option *ngFor="let status of statuses" [value]="status">{{ status }}</mat-option>
    </mat-select>
  </mat-form-field>
    
  <table *ngIf="(filteredDevices$ | async) as devices; else noData">
    <thead>
      <tr>
        <th>STT</th>
        <th>Tên Thiết Bị</th>
        <th>Mô Tả</th>
        <th>Trạng Thái</th>
        <th>Ngày nhập</th>
        <th>Update Device</th>
        <th>Delete Deivce</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let device of devices; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ device.name }}</td>
        <td>{{ device.description }}</td>
        <td>{{ device.status }}</td>
        <td>{{ device.createdAt | date:'dd/MM/yyyy hh:mm' }}</td>
        <td><button (click)="selectDevice(device)">Update</button></td>
        <td><button (click)="confirmDelete(device.id)">Delete</button></td>
      </tr>
    </tbody>
  </table>
  
  <ng-template #noData>
    <p>Không có thiết bị nào.</p>
  </ng-template>

  <!-- <div *ngIf="selectedDevice">
    <h3>Cập Nhật Thiết Bị</h3>
    <label>Tên:</label>
    <input [(ngModel)]="selectedDevice.name" type="text"><br>
  
    <label>Mô tả:</label>
    <input [(ngModel)]="selectedDevice.description" type="text"><br>
  
    <label>Trạng thái:</label>
    <select [(ngModel)]="selectedDevice.status">
      <option value="Available">Available</option>
      <option value="In Use">In Use</option>
      <option value="Maintenance">Maintenance</option>
    </select><br>
  
    <button (click)="updateForm()">Cập Nhật</button>
  </div> -->
  

  
  
  