
<div class="search-container">
  <div class="search-group">
<mat-label style="margin-right: 10px;">Search Device:</mat-label>
<input matInput type="text" [(ngModel)]="searchText" placeholder="Input the user...">
<button style="background: rgb(252, 250, 250); width: 50px; margin-right: 20px;" (click)="searchName()"><mat-icon>search</mat-icon></button>

<label for="status">Select Role:</label>
<select id="status" [(ngModel)]="selectedStatus" (change)="filterDevicesByStatus()">
  <option *ngFor="let status of statuses" [value]="status">{{ status }}</option>
</select>
  </div>
<button style="border: 1px solid #cccaca; margin-right: 30px;" color="primary" (click)="goToAddDevice()">Add Device</button>
</div>


  <table *ngIf="(filteredDevices$ | async) as devices; else noData">
  <app-shared-table
  [displayedColumns]="columns"
  [dataSource]="devices"
  [cellActions]="config">
</app-shared-table>
</table>


  
  <ng-template #noData>
    <p>Device Not Found</p>
  </ng-template>
  

  
  
  