<mat-sidenav-container class="sidenav-container">
  
  <mat-sidenav mode="side" class="sidenav" opened>

    <mat-toolbar style="background: rgb(197, 195, 195);" color="primary" class="top-toolbar">
      <span class="title">Device Management System</span>
      <span class="spacer"></span>
    
      <!-- Hiển thị tên tài khoản -->
      <span class="username">{{ username }} ({{ userRole }})</span>
    
      <!-- Icon mở menu -->
      <button style="background: rgb(197, 195, 195); width: 50px; height: 50px;" mat-icon-button [matMenuTriggerFor]="userMenu">
        <mat-icon class="icon" style="display: flex; align-items: center;">account_circle</mat-icon>
      </button>
    
      <!-- Menu chứa các nút -->
      <mat-menu #userMenu="matMenu">
        <button  mat-menu-item (click)="openChangePasswordDialog()">
          <mat-icon>vpn_key</mat-icon> Change Password
        </button>
        <button  mat-menu-item (click)="navigate('/auth')" color="warn">
          <mat-icon>exit_to_app</mat-icon> Logout
        </button>
      </mat-menu>
    </mat-toolbar>
    
    <mat-nav-list class="test">
      <a mat-list-item *ngFor="let item of getFilteredMenu()" (click)="navigate(item.route)" style="margin-bottom: 20px;">
        <div class="menu-item">
        <mat-icon class="ml-auto">{{ item.icon }}</mat-icon>
        <span>{{item.title}}</span>
      </div>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content class="content">
    
    <router-outlet>
    </router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>


