.sidenav-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}


.top-toolbar {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  padding: 0 16px;
}


.spacer {
  flex: 1;
}


.sidenav {
  width: 250px;
  margin-top: 64px; 
}

.content {
  margin-top: 64px;
  padding: 16px;
}
button {
  padding: 8px 12px;
  background: #b4b6b8;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 8px;
  margin-right: 20px;
}

button:hover {
  background: #bfc1c4;
}
.username {
  margin-right: 16px;
  font-size: 15px;
}
.title{
  font-weight: bold;
}

.menu-item {
  display: flex;
  align-items: center;
}
mat-icon {
  margin-right: 8px; 
  vertical-align: middle;
  font-size: 24px;
  cursor: pointer;
}
mat-nav-list{
  background: rgb(197, 195, 195);
  height: 100%;
}
/* Menu */
mat-menu {
  border-radius: 8px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
}

/* Nút trong menu */
mat-menu-item {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
}




