<mat-sidenav-container class="sidenav-container">
  
  <mat-sidenav mode="side" class="sidenav" opened>

    <mat-toolbar color="primary" class="top-toolbar">
      <span class="title">Device Management System</span>
      <span class="spacer"></span>
    
      <!-- Hiển thị tên tài khoản -->
      <span class="username">{{ username }}: ({{userRole}}) </span>
    
      <button mat-button (click)="openChangePasswordDialog()">Change password</button>
      <button mat-button (click)="navigate('/auth')" color="warn">Logout</button>
    </mat-toolbar>
    
    <mat-nav-list>
      <a mat-list-item *ngFor="let item of getFilteredMenu()" (click)="navigate(item.route)" style="margin-bottom: 20px;">
        <div class="menu-item">
        <mat-icon class="ml-auto">{{ item.icon }}</mat-icon>
        <span>{{item.title}}</span>
      </div>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content class="content">
    <router-outlet></router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>


