

<mat-label style="margin-right: 10px;">Search User:</mat-label>
<input matInput type="text" [(ngModel)]="searchText" placeholder="Input the user...">
<button mat-raised-button color="primary" (click)="searchName()">Search</button>
<button mat-raised-button color="primary" (click)="navigate('/user/register')" style="margin-right: 30px;">Create User</button>

<label for="status">Select Role:</label>
<select id="status" [(ngModel)]="selectedRole" (change)="filterUserByRole()">
  <option *ngFor="let role of roles" [value]="role">{{ role }}</option>
</select>

<table *ngIf="(users$ | async) as users; else noData">
    <app-shared-table
    [displayedColumns]="columns"
    [dataSource]="users"
    [cellActions]="config"
    >
    </app-shared-table>
</table>
<ng-template #noData>
    <p>User NotFound</p>
</ng-template>
