<div class="filter-container">
    <label for="user">Nhân viên:</label>
    <select id="user" [(ngModel)]="selectedUserId">
      <option [value]="''">Tất cả nhân viên</option>
      <option *ngFor="let user of users" [value]="user.id">{{ user.username }}</option>
    </select>
  
    <label for="startDate">Từ ngày:</label>
    <input type="date" id="startDate" [(ngModel)]="startDate">
  
    <label for="endDate">Đến ngày:</label>
    <input type="date" id="endDate" [(ngModel)]="endDate">
  
    <button (click)="filterAttendance()">Lọc</button>
    <mat-label style="margin-right: 10px;">Search Attendance:</mat-label>
<input matInput type="text" [(ngModel)]="searchText" placeholder="Search by name...">
<button style="background: rgb(252, 250, 250); width: 50px; margin-right: 20px;" (click)="searchName()"><mat-icon>search</mat-icon></button>

  </div>


  <div>
    <h2>Attendance Summary</h2>
  
    <label>User Name:</label>
    <input type="text" [(ngModel)]="userName">
  
    <label>Start Date:</label>
    <input type="date" [(ngModel)]="startDate">
  
    <label>End Date:</label>
    <input type="date" [(ngModel)]="endDate">
  
    <button (click)="getSummary()">Get Summary</button>
  
    <div *ngIf="attendanceSummary">
      <h3>Kết quả</h3>
      <p><strong>Số ngày làm:</strong> {{ attendanceSummary.workDays }}</p>
      <p><strong>Tổng giờ làm:</strong> {{ attendanceSummary.totalHours }}</p>
      <p><strong>Giờ tăng ca:</strong> {{ attendanceSummary.overtimeHours }}</p>
    </div>

  </div>
  


<table *ngIf="(attendances$ | async) as users; else noData">
    <app-shared-table
    [displayedColumns]="colums"
    [dataSource]="attendances"
    >
    </app-shared-table>
</table>
<ng-template #noData>
    <p>User NotFound</p>
</ng-template>