<h2 mat-dialog-title>{{ data.type }} Details</h2>
<mat-dialog-content>
  <table>
    <tr *ngFor="let key of objectKeys(data.entity)">
      <td><strong>{{ formatKey(key) }}:</strong></td>
      <td>
        <ng-container *ngIf="key.toLowerCase() === 'createdat'; else normalValue">
          {{ data.entity[key] | date:'dd/MM/yyyy HH:mm' }}
        </ng-container>
        <ng-template #normalValue>
          {{ data.entity[key] }}
        </ng-template>
      </td>
    </tr>
  </table>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="close()">Close</button>
</mat-dialog-actions>
